<div class="table-box">
  <table class="table table-responsive">
    <tr>
      <th>No.</th>
      <th>Title</th>
      <th>URL</th>
      <th>Created At</th>
      <th>Author</th>
    </tr>
    <tr *ngFor="let item of pollData;let i = index" (click)="OpenModel(item);" data-toggle="modal" data-target="#LeaveModal">
      <td style="width: 5%">{{i+1}}</td>
      <td style="width: 35%">{{item.title}}</td>
      <td style="width: 35%">{{item.url}}</td>
      <td style="width: 10%">{{item.created_at | date:'dd-MM-yyyy'}}</td>
      <td style="width: 15%">{{item.author}}</td>
    </tr>
  </table>
</div>
<div class="modal fade" id="LeaveModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Poll Details</h4>
      </div>
      <div class="modal-body">
        <p>Title : {{pollDetails.title}}</p>
        <p>URL : {{pollDetails.url}}</p>
        <p>Created At : {{pollDetails.created_at | date:'dd-MM-yyyy'}}</p>
        <p>Author : {{pollDetails.author}}</p>
      </div>
    </div>
  </div>
</div>
